{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Fitfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'frontend/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/login.css' %}">
</head>

<body>
    <main>
        <h1>FITFOLIO</h1>
        <h2>Welcome back, User!</h2>

        <form>
            <div>
                <label for="email">Email: </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                >
            </div>

            <div>
                <label for="password">Password: </label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                >
            </div>

            <button type="submit">Login</button>
        </form>

        <a href="#">Create an Account!</a>
    </main>
</body>
</html>